html,
body {
    margin: 0;
    height: 100%;
    /* TODO add browser prefixes */
    animation: 4s sky ease-out forwards;
}

@keyframes sky {
    0% {
        background: skyblue;
    }
    25% {
        background: skyblue;
    }
    100% {
        background: #1d1e24;
    }
}