@keyframes sky {
    0% {
        background: skyblue;
    }
    25% {
        background: skyblue;
    }
    100% {
        background: #1d1e24;
    }
}

@keyframes instructions {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    animation: 2s sky ease-out forwards;
}

.instructions {
    color: #fffefa;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    animation: 6s instructions ease-out forwards;
}

p {
    font-family: sans-serif;
}